{% extends 'base.html.twig' %}

{% block title %}Commands index{% endblock %}

{% block body %}
    <h1>Commands index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Reference</th>
                <th>Commercial</th>
                <th>Client</th>
                <th>DateCommander</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for command in commands %}
            <tr>
                <td>{{ command.id }}</td>
                <td>{{ command.refIntern }}</td>
                <td>{{ command.commercial }}</td>
                <td>{{ command.client }}</td>
                <td>{{ command.dateCommander ? command.dateCommander|date('Y-m-d') : '' }}</td>
                     <td style="display: -webkit-box">
        
                         <li style="list-style-type: none">
                                <a class="" href="{{ path('commands_show', {'id': command.id}) }}">Consulter                        <i class="lnr lnr-eye mr"></i>
                                
                                </a>
                            </li>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
