{% extends 'base.html.twig' %}

{% block title %}Commands{% endblock %}

{% block body %}
    <h1>Commands</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ command.id }}</td>
            </tr>
            <tr>
                <th>DateCommander</th>
                <td>{{ command.dateCommander ? command.dateCommander|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('commands_index') }}">back to list</a>

    <a href="{{ path('commands_edit', {'id': command.id}) }}">edit</a>

    {{ include('commands/_delete_form.html.twig') }}
{% endblock %}
