{% extends 'base.html.twig' %}

{% block title %}LigneDemandeStock{% endblock %}

{% block body %}
    <h1>LigneDemandeStock</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ligne_demande_stock.id }}</td>
            </tr>
            <tr>
                <th>Qte</th>
                <td>{{ ligne_demande_stock.qte }}</td>
            </tr>
            <tr>
                <th>QteLiv</th>
                <td>{{ ligne_demande_stock.qteLiv }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ligne_demande_stock_index') }}">back to list</a>

    <a href="{{ path('ligne_demande_stock_edit', {'id': ligne_demande_stock.id}) }}">edit</a>

    {{ include('ligne_demande_stock/_delete_form.html.twig') }}
{% endblock %}
