{% extends 'base.html.twig' %}

{% block title %}BonSortie{% endblock %}

{% block body %}
    <h1>BonSortie</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bon_sortie.id }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ bon_sortie.reference }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('bon_sortie_index') }}">back to list</a>

    <a href="{{ path('bon_sortie_edit', {'id': bon_sortie.id}) }}">edit</a>

    {{ include('bon_sortie/_delete_form.html.twig') }}
{% endblock %}
