{% extends 'base.html.twig' %}

{% block title %}LigneFacture index{% endblock %}

{% block body %}
    <h1>LigneFacture {{ facture.client}}  &&  {{ facture.commercial}}  </h1>
    <h2><div style="float:right;color:blue">{{ facture.dateSaisie ? facture.dateSaisie|date('Y-m-d') : '' }} </div></h2>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Article</th>
                <th>Quantité</th>
                
                <th>PrixHT</th>
                <th>TVA</th>
                <th>Prix TTC</th>
                <th>Prix ToTal</th>
                <th>Remise</th>
                <th>Prix Finale</th>
                {# <th>actions</th> #}
            </tr>
        </thead>
        <tbody>
        {% for ligne_facture in ligne_factures %}
            <tr>
                <td>{{ ligne_facture.id }}</td>
                <td>{{ ligne_facture.article }}</td>
                <td>{{ ligne_facture.qte }}</td>
              
                <td>{{ ligne_facture.prixUHT }}</td>
                <td>{{ ligne_facture.tva }}</td>
                <td>{{ ligne_facture.prixTTC }}</td>
                <td>{{ ligne_facture.prixTT }}</td>
                <td>{{ ligne_facture.remise }}</td>
                <td>({{ ligne_facture.prixFinal }})</td>
                <td>
                    {# <a href="{{ path('ligne_facture_show', {'id': ligne_facture.id}) }}">show</a> #}
                    {# <a href="{{ path('ligne_facture_edit', {'id': ligne_facture.id}) }}">edit</a> #}
                </td>
            </tr>
        
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
         <tr>
                <td  align="right" colspan="9">Prix Totale + Remise</td>
            </tr>
              <tr>
                <td align="right" colspan="9"> {{ facture.prixTotal}}</td>
            </tr>
           
        </tbody>
    </table>

    {# <a href="{{ path('ligne_facture_new') }}">Create new</a> #}
{% endblock %}
