<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('main.css') }}">
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Ambillons</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!--<li class="nav-item">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>-->
                <li {% if app.request.attributes.get('_route') in [
                    'article_index' ,
                    'article_show' ,
                    'article_new' ,
                    'article_edit' ,
                    'article_delete'
                    ] %} class="active" {% endif %}>
                    <a class="nav-link" href="{{ path('article_index') }}">Articles</a>
                </li>
                <li {% if app.request.attributes.get('_route') in [
                    'commercial_index' ,
                    'commercial_new' ,
                    'commercial_show' ,
                    'commercial_edit' ,
                    'commercial_delete'
                    ] %} class="active" {% endif %}>
                    <a class="nav-link" href="{{ path('commercial_index') }}">Commerciaux</a>
                </li>
                <li {% if app.request.attributes.get('_route') in [
                    'depot_index' ,
                    'depot_new' ,
                    'depot_show' ,
                    'depot_edit' ,
                    'depot_delete'
                    ] %} class="active" {% endif %}>
                    <a class="nav-link" href="{{ path('depot_index') }}">Depots</a>
                </li>

                <li {% if app.request.attributes.get('_route') in [
                    'stock_voitures_index' ,
                    'stock_voitures_new' ,
                    'stock_voitures_show' ,
                    'stock_voitures_edit' ,
                    'stock_voitures_delete'
                    ] %} class="active" {% endif %}>
                    <a class="nav-link" href="{{ path('stock_voitures_index') }}">Stock Voitures</a>
                </li>
                <li {% if app.request.attributes.get('_route') in [
                    'stock_index' ,
                    'stock_new' ,
                    'stock_show' ,
                    'stock_edit' ,
                    'stock_delete'
                    ] %} class="active" {% endif %}>
                    <a class="nav-link" href="{{ path('stock_index') }}">Stock</a>

                <li {% if app.request.attributes.get('_route') in [
                    'inventaire_index' ,
                    'inventaire_new' ,
                    'inventaire_show' ,
                    'inventaire_edit' ,
                    'inventaire_delete'
                    ] %} class="active" {% endif %}>
                    <a class="nav-link" href="{{ path('inventaire_index') }}">Inventaires</a>
                </li>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Dropdown
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
                <!--<li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
                </li>-->
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </nav>
    <div class="container mt-4">
        <div class="row">

            <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 pull-left ">
                {% block body %}

                {% endblock %}
            </div>
        </div>
    </div>
    {% block javascripts %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    {% endblock %}
</body>
</html>
