{% extends 'base.html.twig' %}

{% block title %}Commercial{% endblock %}

{% block body %}
    <h1>Commercial</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ commercial.id }}</td>
            </tr>
            <tr>
                <th>Cin</th>
                <td>{{ commercial.cin }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ commercial.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ commercial.prenom }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ commercial.adresse }}</td>
            </tr>
            <tr>
                <th>Ville</th>
                <td>{{ commercial.ville }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ commercial.age }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('commercial_index') }}" style="color:#00AAFF"><button class="btn btn-light custombutton" style="float:right;margin-left:5px;" type="button"/><i class="lnr lnr-arrow-left-circle"></i>Retourner</a>

    <a href="{{ path('commercial_edit', {'id': commercial.id}) }}" style="color:#fff"><button class="btn btn-primary custombutton" style="float:right" type="button"/><i class="fa fa-check-circle"></i>Modifier</a>

    {{ include('commercial/_delete_form.html.twig') }}
{% endblock %}
