{% extends 'base.html.twig' %}

{% block title %}Facture{% endblock %}

{% block body %}
    <h1>Facture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ facture.id }}</td>
            </tr>
            <tr>
                <th>DateSaisie</th>
                <td>{{ facture.dateSaisie ? facture.dateSaisie|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Remise</th>
                <td>{{ facture.remise }}</td>
            </tr>
            <tr>
                <th>TotalPrix</th>
                <td>{{ facture.totalPrix }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('facture_index') }}">back to list</a>

    <a href="{{ path('facture_edit', {'id': facture.id}) }}">edit</a>

    {{ include('facture/_delete_form.html.twig') }}
{% endblock %}
