{{ form_start(form) }}
    {# {{ dump() }} #}

{# <div class="panel-heading"><h1 class="panel-title">Create new Article</h3></div> #}
{{ form_widget(form) }}

<button class="btn btn-primary custombutton">
    <i class="fa fa-check-circle"></i>
    {{ button_label|default('Enregistrer') }}</button>
<a href="{{ path('article_index') }}" style="color:#00AAFF"><button class="btn btn-light custombutton" style="float:right" type="button"/>Annuler</a>

{{ form_end(form) }}
<script src="{{ asset('assets/vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ asset('generate_text.js') }}"/>