{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Designation</th>
                <td>{{ article.designation }}</td>
            </tr>
            <tr>
                <th>PrixHT</th>
                <td>{{ article.prixHT }}</td>
            </tr>
            <tr>
                <th>PrixTTC</th>
                <td>{{ article.prixTTC }}</td>
            </tr>
            <tr>
                <th>Disponibilit</th>
                <td>{{ article.disponibilit ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Unit</th>
                <td>{{ article.unit }}</td>
            </tr>
            <tr>
                <th>BarCode</th>
                <td>{{ article.barCode }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('article_index') }}" style="color:#00AAFF"><button class="btn btn-light custombutton" style="float:right;margin-left:5px;" type="button"/><i class="lnr lnr-arrow-left-circle"></i>Retourner</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}" style="color:#fff"><button class="btn btn-primary custombutton" style="float:right" type="button"/><i class="fa fa-check-circle"></i>Modifier</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
