{% extends 'base.html.twig' %}

{% block title %}Voiture index{% endblock %}

{% block body %}
    <h1>Voiture index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Matricule</th>
                <th>Model</th>
                <th>commercial</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voiture in voitures %}
            <tr>
                <td>{{ voiture.id }}</td>
                <td>{{ voiture.matricule }}</td>
                <td>{{ voiture.model }}</td>
                <td>{{ voiture.commercial }}</td>
                 <td style="display: -webkit-box">
                  
                            <li style="list-style-type: none">
                                <a class="" href="{{ path('voiture_edit', {'id': voiture.id}) }}">
                                    <i class="lnr lnr-pencil"></i>
                                    
                                </a>
                            </li>
                            <li style="list-style-type: none">
                            <form method="post" action="{{ path('voiture_delete', {'id': voiture.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">

                                <button class="btn-link" style="margin-top: -10px">
                                    <input name="_method" type="hidden" value="DELETE">
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ voiture.id) }}">
                                    <i class="lnr lnr-trash"></i>

                                </button>
                            </form>
                        </li>
                        <li style="list-style-type: none">
                                <a class="" href="{{ path('voiture_show', {'id': voiture.id}) }}"> Consulter Stock
                                    <i class="lnr lnr-eye mr"></i>
                                
                                </a>
                            </li>
                
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('voiture_new') }}" style="color:#fff"><button class="btn btn-success" type="button"/>Ajouter Voiture</a>

{% endblock %}
